<!DOCTYPE html>
<html>
<head>
    <title>Sport Coach</title>
</head>
<body style="font-family: Arial; max-width: 600px; margin: auto;">

<h1>🏋️ Sport Coach</h1>

<h3>Ajouter une séance</h3>

<input id="ex" placeholder="Exercice"><br><br>
<input id="reps" placeholder="Reps"><br><br>
<input id="sets" placeholder="Sets"><br><br>

<button onclick="add()">Ajouter</button>

<h3>📊 Résultat coach</h3>
<div id="coach"></div>

<h3>📜 Historique</h3>
<button onclick="load()">Afficher</button>
<pre id="out"></pre>

<script>
function add(){
    fetch("/add", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body: JSON.stringify({
            exercise: document.getElementById("ex").value,
            reps: document.getElementById("reps").value,
            sets: document.getElementById("sets").value
        })
    })
    .then(r => r.json())
    .then(data => {
        document.getElementById("coach").innerHTML =
        "👉 Prochaine recommandation : " + data.next_recommended_reps + " reps 💪"
    })
}

function load(){
    fetch("/stats")
    .then(r=>r.json())
    .then(d=>{
        document.getElementById("out").innerText =
        JSON.stringify(d, null, 2)
    })
}
</script>

</body>
</html>
