<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Coach</title>
</head>

<body style="
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background: #0f172a;
    color: white;
">

<div style="max-width: 500px; margin: auto;">

<h1 style="text-align:center;">🏋️ Sport Coach</h1>

<div style="background:#1e293b; padding:15px; border-radius:12px;">

<h3>➕ Ajouter séance</h3>

<input id="ex" placeholder="Exercice" style="width:100%; padding:10px; margin:5px 0;"><br>

<input id="reps" placeholder="Reps" style="width:100%; padding:10px; margin:5px 0;"><br>

<input id="sets" placeholder="Sets" style="width:100%; padding:10px; margin:5px 0;"><br>

<button onclick="add()" style="
    width:100%;
    padding:12px;
    background:#22c55e;
    border:none;
    color:white;
    border-radius:8px;
    margin-top:10px;
">
Ajouter
</button>

</div>

<div id="coach" style="margin-top:15px; font-size:18px;"></div>

<div style="margin-top:20px;">
<button onclick="load()" style="
    width:100%;
    padding:12px;
    background:#3b82f6;
    border:none;
    color:white;
    border-radius:8px;
">
Voir historique
</button>

<pre id="out" style="white-space:pre-wrap; background:#1e293b; padding:10px; border-radius:10px; margin-top:10px;"></pre>
</div>

</div>

<script>
function add(){
    fetch("/add", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body: JSON.stringify({
            exercise: document.getElementById("ex").value,
            reps: document.getElementById("reps").value,
            sets: document.getElementById("sets").value
        })
    })
    .then(r => r.json())
    .then(data => {
        document.getElementById("coach").innerHTML =
        "💪 Prochaine cible : <b>" + data.next_recommended_reps + " reps</b>"
    })
}

function load(){
    fetch("/stats")
    .then(r=>r.json())
    .then(d=>{
        document.getElementById("out").innerText =
        JSON.stringify(d, null, 2)
    })
}
</script>

</body>
</html>
